.content-tabs {
    padding: 0 10%;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 24px;
    }
    @media (min-width: 1700px) {
        padding: 40px 20% 0;
    }
    .tabs {
        display: flex;
        flex-direction: row;
        background: #fff;
        width: 100%;
        box-shadow: 0 0 18px rgba(56,100,166,.2);
        border-radius: 8px;
        padding: 8px;
        margin: 32px auto;
        border: 0;
        grid-gap: 8px;
        @media (max-width: 768px) {
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            margin: 0 auto;
        }        
        .tab {
            background-color: #f5f5f5;
            padding: 16px;
            font-size: 18px;
            line-height: 24px;
            border-radius: 8px;
            text-align: center;
            font-family: 'Telefonica-Bold';
            width: 100%;
            cursor: pointer;
            @media (max-width: 768px) {
                scroll-snap-align: center;
                min-width: 65%;
            }  
            &.active {
                background: #0b2739;
                color: #fff;
            }
        }
    };
    .tab-content {
        margin-top: 20px;
        .tab-pane {
            display: none;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #fff;
            width: 300px;
            text-align: left;
            &.active {
                display: block;
            }
        }
    }

    .hidden {
        display: none;
    }
}